<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725162634165-etuvnbfegqbuaaguvnlir8pfgh59mtcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725162634165-etuvnbfegqbuaaguvnlir8pfgh59mtcr</string>
	<key>API_KEY</key>
	<string>AIzaSyBkFtdGwGyFlua9lejmoROBN8p63RKtx5E</string>
	<key>GCM_SENDER_ID</key>
	<string>725162634165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apptest</string>
	<key>PROJECT_ID</key>
	<string>checklistapp-8a13e</string>
	<key>STORAGE_BUCKET</key>
	<string>checklistapp-8a13e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725162634165:ios:5c4b7564a5c4cc755987fc</string>
	<key>DATABASE_URL</key>
	<string>https://checklistapp-8a13e-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>